@model myfinance_web_netcore.Models.PlanoContaModel
@{
    ViewData["Title"] = "Criar Plano de Contas";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form asp-controller="PlanoConta" asp-action="CriarPlanoConta">
        
        <label for="fDescricao">Descrição:</label><br>
        <input type="text" asp-for="Descricao"><br>

        <label for="fTipo">Tipo:</label><br>
        <input type="text" asp-for="Tipo"><br>

        <button type="submit" class="btn btn-block btn-success">Registrar</button>
    </form>
</div>