@{
    ViewData["Title"] = "Plano Contas";
}

<h3>Plano de Contas</h3>
<hr>

<button type="button" class="btn btn-block btn-primary" onclick="CriarPlanoConta()">Criar Plano de Contas</button><br>

<table class="table table-bordered">
  <tr>
    <th>Id</th>
    <th>Descrição</th>
    <th>Tipo</th>
  </tr>

  @{
    foreach (var item in (List<PlanoContaModel>)ViewBag.Lista)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Descricao</td>
            <td>@item.Tipo</td>
        </tr>
    }
  }
</table>

<script>
    function CriarPlanoConta()
    {
        window.location.href = "../PlanoConta/CriarPlanoConta";
    }
</script>
